body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.top-box {
    display: flex;
}

.box1 {
    height: 300px;
    width: 33.33%;
    background-color: black;
    border: 10px solid gray;
}

.box2 {
    height: 300px;
    width: 33.33%;
    background-color: blue;
    border: 10px solid gray;
}

.box3 {
    height: 300px;
    width: 33.33%;
    background-color: aqua;
    border: 10px solid gray;
}


.second-box {
    height: 300px;
    background-color: aquamarine;
    border: 10px solid gainsboro;
}

.third-box {
    display: flex;



}

.third-box1 {
    height: 300px;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.151);
    border: 10px solid #da5151;

}

.third-box2 {
    height: 300px;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.478);
    border: 10px solid #da5151;
}

.forth-box {
    display: flex;
}

.forth-box1 {
    height: 300px;
    width: 60%;
    background-color: purple;
    border: 10px solid #9fda51;
}

.forth-box2 {
    height: 300px;
    width: 20%;
    background-color: blue;
    border: 10px solid #51dad3;
}

.forth-box3 {
    height: 300px;
    width: 20%;
    background-color: aqua;
    border: 10px solid #da51b1;
}